<div class="left-nav">
    <div id="side-nav">
     <ul id="nav">
        <li class="open"><a href="javascript:;" class=""><i class="iconfont left-nav-li" lay-tips="会员管理"></i><cite>基础导航</cite><i class="iconfont nav_right"></i></a>
            <ul class="sub-menu">
                <li><a data-hash="doc"><i class="iconfont"></i><cite>文档</cite></a></li>
                <li><a data-hash="see"><i class="iconfont"></i><cite>查看</cite></a></li>
            </ul>
        </li>
        <li>
            <a href="javascript:;">
            <i class="iconfont left-nav-li" ></i><cite>其它操作</cite><i class="iconfont nav_right"></i></a>
            <ul class="sub-menu" >
                <li><a ><i class="iconfont"></i><cite>错误页面</cite></a></li>
                <li><a><i class="iconfont"></i><cite>统计页面</cite></a></li>
                <li><a ><i class="iconfont"></i><cite>更新日志</cite></a></li>
            </ul>
        </li>
     </ul>
    </div>
</div>

