<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>文档说明</title>
    <link rel="stylesheet" href="<%= url %>/css/index.css">
</head>
<body>
    查看页面
    <script type="text/javascript" src="<%= url %>/js/jquery.min.js"></script>
    <!-- 可视化 -->
    <script src="<%= url %>/js/echarts.min.js"></script>
    <script>
        $(function () {
          
        })
        
    </script>
</body>
</html>